{
  "ignorePatterns": [
    "package-lock.json"
  ],
  "overrides": [
    {
      "extends": [
        "canonical",
        "canonical/node"
      ],
      "files": "*.js",
      "rules": {
        "unicorn/prevent-abbreviations": 0
      }
    },
    {
      "files": "*.d.ts",
      "rules": {
        "filenames/match-regex": 0
      }
    },
    {
      "extends": [
        "canonical",
        "canonical/typescript"
      ],
      "files": "*.ts",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {
        "@typescript-eslint/no-unnecessary-condition": 0,
        "require-atomic-updates": 0,
        "unicorn/prevent-abbreviations": 0,
        "import/no-cycle": 0, // Disable fow now. Too many to fix.
        "import/no-useless-path-segments": 0 // ESM requires explicit file extensions
      }
    }
  ],
  "root": true
}
